# Ignorar dependências
node_modules/

# Ignorar relatórios de coverage do Jest
coverage/

# Arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações do sistema/editor
.DS_Store
*.swp
